<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Webdesign</title>	
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" href="SlickNav/slicknav.css"/>	
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/responsive.css">
	<link rel="stylesheet" href="css/circle.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis:300,400" rel="stylesheet">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

</head>
<body>
	<header class="header clearfix">
		<div class="container container-menu">
			<a href="" class="header-logo">Dsgn</a>
			<div class="header-links">
				<a href="" class="header-links-item">
					<img src="images/facebook.png" alt="" class="header-links-img">
				</a>
				<a href="" class="header-links-item">
					<img src="images/instagram.png" alt="" class="header-links-img">
				</a>
				<a href="" class="header-links-item">
					<img src="images/twitter.png" alt="" class="header-links-img">
				</a>
				<a href="" class="header-links-item">
					<img src="images/linkedin.png" alt="" class="header-links-img">
				</a>
			</div>
			<ul class="header-menu">
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Team</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Gallery</a>
				</li>
				<li class="header-menu-item">
					<a href="" class="header-menu-link">Companies</a>
				</li>
			</ul>
			<div class="header-nav-menu"></div>
			
		</div>
	</header>
	<div class="top clearfix">
		<h2 class="top-question">Need our help?</h2>
		<h1 class="top-header">Top Designer</h1>
		<a href="" class="top-btn">Check us!</a>
		<i class="fa fa-angle-double-down" aria-hidden="true"></i>
	</div>
	<div class="bars">
		<div class="container clearfix">
			<div class="bars-item">
				<img src="images/projects.png" alt="" class="bars-item-img">
				<p class="bars-item-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit<span class="bars-item-hide">	, sed do eiusmod</span>.</p>
			</div>
			<div class="bars-item bars-item_480">
				<img src="images/clients.png" alt="" class="bars-item-img">
				<p class="bars-item-info">Ipsum dolor sit amet, consectetur adipisicing elit, sed incididunt!</p>
			</div>
			<div class="bars-item bars-item_480">
				<img src="images/months.png" alt="" class="bars-item-img">
				<p class="bars-item-info">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod<span class="bars-item-hide"> incididunt ut</span>.</p>
			</div>
		</div>
	</div>
	<div class="team">
		<div class="container">
			<div class="team-border">
				<h2 class="team-meet">Meet us!</h2>
				<h1 class="team-title">Our team</h1>
			</div>
		</div>		
	</div>
	<div class="teammate">
		<div class="container">
			<div class="teammate-wrap">
				<img src="images/rhombus.png" alt="" class="teammate-rhombus">
				<div class="teammate-img_adrianna">
					<div class="teammate-border-white">
						
					</div>
				</div>
				<div class="teammate-info">
					<div class="teammate-border-black">
						<h2 class="teammate-info-title">Adrianna</h2>
						<p class="teammate-info-position">
                          	Senior Graphic Designer
                      	</p>
						<p class="teammate-info-about">
							She is the graphic designer with 3 years of professional experience.
						</p>
					</div>
				</div>
			</div>
			<div class="teammate-wrap">
				<img src="images/rhombus.png" alt="" class="teammate-rhombus">
				<div class="teammate-img_olivia">
					<div class="teammate-border-white_back">
						
					</div>
				</div>
				<div class="teammate-info">
					<div class="teammate-border-black_back">
						<h2 class="teammate-info-title">Olivia</h2>
						<p class="teammate-info-position">
                          	Art Director
                      	</p>
						<p class="teammate-info-about teammate-info-about_olivia"> 
							She is the art director with <br>8 years of professional experience.
						</p>
					</div>
				</div>
			</div>
			<div class="teammate-wrap">
				<img src="images/rhombus.png" alt="" class="teammate-rhombus">
				<div class="teammate-img_thomas">
					<div class="teammate-border-white">
						
					</div>
				</div>
				<div class="teammate-info">
					<div class="teammate-border-black">
						<h2 class="teammate-info-title">Thomas</h2>
						<p class="teammate-info-position">
                          	Software Engeneer
                      	</p>
						<p class="teammate-info-about teammate-info-about_thomas">
							He is the software engeneer with 5 years of professional experience.
						</p>
					</div>
				</div>
			</div>
			<div class="teammate-wrap">
				<img src="images/rhombus.png" alt="" class="teammate-rhombus">
				<div class="teammate-img_taylor">
					<div class="teammate-border-white_back">
						
					</div>
				</div>
				<div class="teammate-info">
					<div class="teammate-border-black_back">
						<h2 class="teammate-info-title">Taylor</h2>
						<p class="teammate-info-position">
                          	CEO
                      	</p>
						<p class="teammate-info-about teammate-info-about_taylor"> 
							She is the boss in here
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="portfolio">
		<div class="container">
			<div class="portfolio-border">
				<h2 class="portfolio-meet">Check out our projects!</h2>
				<h1 class="portfolio-title">Portfolio</h1>
			</div>
		</div>		
	</div>
	<div class="gallery">
		<ul class="gallery-list clearfix">
			<li class="gallery-item">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_2">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_3">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_4">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_5">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_6">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_7">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_8">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_9">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_10">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_11">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_12">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_13">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_14">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_15">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_16">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_17">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_18">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_19">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_20">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
			<li class="gallery-item gallery-item_21">
				<div class="gallery-item-wrap">
					<img src="images/eye.png" alt="" class="gallery-item-img">
					<p class="gallery-item-text">
					Our new project!
					</p>
				</div>				
			</li>
		</ul>
	</div>
	<div class="brand">
		<div class="container">
			<div class="brand-border">
				<h2 class="brand-meet">We working for</h2>
				<h1 class="brand-title">Brands</h1>
			</div>
		</div>		
	</div>
	<div class="companies">		
		<div class="container clearfix">
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
		</div>
		<div class="container clearfix">
			<a href="" class="companies-item companies-border-left">
				<img src="images/companies-1.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-2.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-3.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-4.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-5.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-6.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-border-right">
				<img src="images/companies-7.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-border-left">
				<img src="images/companies-8.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-9.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-10.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-11.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item">
				<img src="images/companies-12.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-13.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide companies-border-right">
				<img src="images/companies-14.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide companies-border-left">
				<img src="images/companies-15.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-16.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-17.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-18.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-19.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-20.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide companies-border-right">
				<img src="images/companies-21.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide companies-border-left">
				<img src="images/companies-22.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-23.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-24.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-25.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-26.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide">
				<img src="images/companies-27.png" alt="" class="companies-item-img">
			</a>
			<a href="" class="companies-item companies-item_480-hide companies-border-right">
				<img src="images/companies-28.png" alt="" class="companies-item-img">
			</a>
		</div>
		<div class="container clearfix">
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
			<div class="companies-empty"></div>
		</div>
	</div>
	<footer class="footer">
		<div class="container clearfix">
			<div class="footer-item">
				<h2 class="footer-item-title">Our team</h2>
				<p class="footer-item-text">We are the best company in the entire world!</p>
			</div>
			<div class="footer-item">
				<h2 class="footer-item-title">About</h2>
				<p class="footer-item-text">We are the best company in the entire world!</p>
			</div>
			<div class="footer-item">
				<h2 class="footer-item-title">Contact</h2>
					<a href="mailto:free@template.com" class="footer-item-link">free@template.com</a> 
					<a href="www.freetemplamte.com" class="footer-item-link">www.freetemplamte.com</a>
					<a href="tel:+48 123 456 79" class="footer-item-link">tel. +48 123 456 79</a>	
				
			</div>
			<div class="footer-copyright">
				Copyright ® DSGN free use!
			</div>
		</div>
	</footer>







	
	<script src="js/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
	<script src="SlickNav/jquery.slicknav.min.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

