.block_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 1.8px;
}
.old_projects-list {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}
.old_projects-list li {
    list-style: none;
    width: 24%;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 10px 0;
    transition: 0.5s all;
}
.old_projects-list li:hover {
    background: #333;
}
.old_projects-list li:hover a{
    color: #fff;
}
.old_projects-list li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #333;
    text-transform: uppercase;
    text-decoration: none;
}