@media only screen and (min-width: 641px) and (max-width: 1019px) {
  .header-social {
    width: 26%; }
  .header-social_link {
    margin-left: 16%; }
  .main .main-title {
    width: 50%; }
  .main .main-info {
    width: 100%;
    height: 91px; }
  .main .main-person {
    display: none; }
  .content .content-author {
    width: 100%;
    height: 100px;
    border-right: 1px dotted #d5d5d5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .content .content-author .content-header {
      margin-bottom: 10px;
      font-size: 25px;
      text-align: center; }
    .content .content-author .content-author_info {
      text-align: center;
      width: 85%;
      font-size: 13px;
      margin: 0 auto; }
  .content .content-posts {
    display: none; }
  .content .content-welcome {
    width: 100%;
    float: left;
    margin-top: 0; }
    .content .content-welcome .content-welcome_header {
      margin: 23px 0 9px 1.72%; }
    .content .content-welcome .content-welcome_info {
      margin-bottom: 35px; }
    .content .content-welcome .content-welcome_btn {
      width: 20%;
      margin-left: 23.9%;
      font-size: 13px;
      line-height: 7px; }
    .content .content-welcome .content-welcome_stat {
      width: 34%; }
  .content .content-news {
    width: 100%;
    border-right: 1px dotted #d5d5d5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .content .content-news .content-news_item {
      width: 47.27%; }
      .content .content-news .content-news_item .content-header {
        width: 70%; }
      .content .content-news .content-news_item .content-news_text {
        width: 95%;
        margin-bottom: 4px; }
      .content .content-news .content-news_item .content-news_author {
        margin-bottom: 10px; }
      .content .content-news .content-news_item .content-news_stats {
        margin-top: 43px;
        padding-left: 70%; }
    .content .content-news .content-news_item-last .content-news_stats {
      margin-top: 3px; }
    .content .content-news .content-news_item:last-child {
      width: 98%; }
    .content .content-news .content-news_add {
      width: 98%; }
      .content .content-news .content-news_add .content-news_add-text {
        width: 100%;
        text-align: center; }
  .content .content-currency {
    display: none; }
  .footer .footer-title {
    width: 25%; }
  .footer .footer-nav {
    width: 45%; } }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  .container {
    width: 100%; }
  .header {
    text-align: center; }
    .header .header-social {
      width: 100%;
      position: relative;
      float: right;
      margin-bottom: 15px; }
    .header .header-social_link {
      width: 12.4%; }
      .header .header-social_link:first-child {
        margin-left: 0; }
    .header .header-nav .header-nav_item {
      margin-right: -6px; }
  .main .main-title {
    width: 100%; }
  .main .main-info {
    width: 100%;
    height: auto; }
  .main .main-person {
    display: none; }
  .content .content-author {
    width: 100%;
    height: 130px;
    border-right: 1px dotted #d5d5d5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .content .content-author .content-header {
      margin-bottom: 10px;
      font-size: 25px;
      text-align: center; }
    .content .content-author .content-author_info {
      text-align: center;
      width: 95%;
      font-size: 13px;
      margin: 0 auto; }
  .content .content-posts {
    display: none; }
  .content .content-welcome {
    width: 100%;
    height: 290px;
    float: left;
    margin-top: 0;
    padding: 0 1.5%; }
    .content .content-welcome .content-welcome_header {
      margin: 23px 0 9px 1.72%;
      font-size: 31px; }
    .content .content-welcome .content-welcome_info {
      width: 100%;
      margin-bottom: 55px; }
    .content .content-welcome .content-welcome_btn {
      width: 30%;
      margin-left: 6%;
      font-size: 13px;
      line-height: 7px; }
    .content .content-welcome .content-welcome_stat {
      width: 56%; }
  .content .content-news {
    width: 100%;
    height: auto;
    border-right: 1px dotted #d5d5d5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .content .content-news .content-news_item {
      width: 100%;
      margin-left: 0;
      -webkit-border-radius: 0;
              border-radius: 0; }
      .content .content-news .content-news_item .content-header {
        width: 46%; }
      .content .content-news .content-news_item .content-news_text {
        width: 95%;
        margin-bottom: 4px;
        font-size: 11px; }
      .content .content-news .content-news_item .content-news_author {
        margin-bottom: 10px; }
      .content .content-news .content-news_item .content-news_stats {
        margin-top: 43px;
        padding-left: 70%; }
      .content .content-news .content-news_item .content-news_link-last {
        font-size: 15px; }
    .content .content-news .content-news_item-last .content-news_stats {
      margin-top: 3px; }
    .content .content-news .content-news_item:last-child {
      width: 100%;
      margin-bottom: 20px; }
    .content .content-news .content-news_add {
      width: 100%; }
      .content .content-news .content-news_add .content-news_add-text {
        width: 100%;
        text-align: center; }
  .content .content-currency {
    display: none; }
  .footer .footer-main {
    height: 70px; }
    .footer .footer-main .footer-title {
      width: 100%;
      text-align: center;
      margin-bottom: 15px; }
    .footer .footer-main .footer-nav {
      width: 100%;
      margin: 0 auto;
      float: none; }
      .footer .footer-main .footer-nav .footer-nav_item {
        width: 25%;
        margin: 0;
        text-align: center; } }
