.idea
#*idea/*
.well-known
#*.well-known/*

#proj sspecific files
test.php
/merge/
!/merge/index.php



/vendor/
/upload
.access.php
web.config

#core ignore

/bitrix/*

#cats where may be custom code
/bitrix/admin/*
!/bitrix/admin/
/bitrix/modules/*
!/bitrix/modules/
/bitrix/components/*
!/bitrix/components/

#all templates

!**templates/
!**templates/**

#altasib folder

!**altasib*/
!**altasib/**

#modules

!/bitrix/modules/asd.iblock
!/bitrix/modules/simai.complexprop
!/bitrix/modules/mimas.propscodegenerator
!/bitrix/modules/mimas.propscodegenerator

#my components folders dotg.*

!**dotg.*/
!**dotg.*/**

!**webnow.*/
!**webnow.*/**

!**aspro.*/**
!**aspro*/
!**aspro/**

!**dkdev.*/**
!**dkdev*/
!**dkdev/**

!**echo.*/**
!**echo*/
!**echo/**

!**magicrain.*/**
!**magicrain*/
!**magicrain/**

!**twofingers.*/**
!**twofingers*/
!**twofingers/**

!**ipol.*/**
!**ipol*/
!**ipol/**

!**mcart.*/**
!**mcart*/
!**mcart/**

!**primepix.*/**
!**primepix*/
!**primepix/**

!**wfd_pvz.*/**
!**wfd_pvz*/
!**wfd_pvz/**

!**askaron.*/**
!**askaron*/
!**askaron/**

!**articul.*/**
!**articul*/
!**articul/**

!**/bitrix/modules/ws*/**
!**/bitrix/modules/ws*/
!**/bitrix/modules/ws/**

!**vasoft*/**
!**vasoft*/
!**vasoft/**

*.txt
*.tmp
bitrixdemoplus.php
.htaccess.restore
/1b4e8308virusdie/
1b4e8308virusdie.php

!**asd.*/**
!**asd*/
!**asd/**

!**likee.*/**
!**likee*/
!**likee/**

!**ls.code*/**
!**ls.code*/
!**ls.code/**

!**sendpulse*/**
!**sendpulse*/
!**sendpulse/**

!**sng*/**
!**sng*/
!**sng/**

!**askaron*/**
!**askaron*/
!**askaron/**

!**rodzeta*/**
!**rodzeta*/
!**rodzeta/**

!**simai.backup*/**
!**simai.backup*/
!**simai.backup/**

*.txt
*.tmp
bitrixdemoplus.php
.htaccess.restore
/1b4e8308virusdie/
1b4e8308virusdie.php

!/bitrix/modules/h2o.buyoneclick/
!**h2o.*/**
!**h2o*/
!**h2o/**
/php_error.log
/ajax/vk_callback.log
